// Primary colours
$primary: #0F1822;
$primary-lightblue: #29BBEA;
$brand-pink: #FF6274;
$brand-blue: #2ECCFF;

// Secondary colours
$secondary-red: $brand-pink;
$secondary-yellow: #FFCA39;
$secondary-orange: #FC9B00;
$secondary-purple: #A776D1;
$secondary-green: #4DB501;
$secondary-black: #16212E;
$secondary-blue: #EAF8FD;
$secondary-grey: #F7F7F7;
$secondary-darkgrey: #434343;
$secondary-darkgrey2: #4A4A4A;
$secondary-lightgrey: #707070;

// Additional colours
$white: #FFF;
$black: #000;
$dark-blue: #4294B9;
$light-green: #9ed974;
